{% load i18n %}
<!-- SAMPLE OVERRIDE CONTENT -- not production copy. Provided by tutor-custom-emailtpl. -->

<h1>{% blocktrans trimmed %}Hola {{ full_name }}, ¡Te damos la bienvenida a {{ platform_name }}!{% endblocktrans %}</h1>

<p>{% blocktrans trimmed %}Hemos creado tu cuenta y te hemos dado de alta en el curso {{ course_name }}.endblocktrans %}</p>
	
<p>{% blocktrans trimmed %}Ya puedes acceder a la plataforma y comenzar tu experiencia de aprendizaje.{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}Datos de acceso a continuación:{% endblocktrans %}<br />
  {% blocktrans trimmed %}Correo electrónico: {{ email_address }}{% endblocktrans %}<br />
  {% blocktrans trimmed %}Contraseña temporal: {{ password }}{% endblocktrans %}</p>
  
<p>{% blocktrans trimmed %}Te recomendamos iniciar sesión cuanto antes y cambiar tu contraseña temporal por una contraseña personal y segura.{% endblocktrans %}</p>

<p><a href="{{ course_url }}">{% blocktrans trimmed %}Accede directamente a tu curso desde este enlace{% endblocktrans %}</a></p>


<p>{% blocktrans trimmed %}Una vez que hayas iniciado sesión, podrás acceder al curso y comenzar tus actividades. {% endblocktrans %}</p>

<p>{% blocktrans trimmed %}Si tienes alguna duda o necesitas ayuda para acceder, ponte en contacto con {{ support_email}}{% endblocktrans %}</p>


<p>{% blocktrans trimmed %}¡Te deseamos mucho éxito en tu trayectoria de aprendizaje!{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}El equipo de {{ platform_name }}!{% endblocktrans %}<p>
